body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: brown;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #555;
}

.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 500px;
}

.project-item img {
  width: 100%;
  border-radius: 5px;
}

.project-item a {
  display: block;
  margin-top: 10px;
  color:darkslategray;
  text-decoration: none;
}

.project-item a:hover {
  text-decoration: underline;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: crimson;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Footer {
  background-color: brown;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.Footer p {
  margin: 5px 0;
}

.social-icons a {
  color: #fff;
  margin: 0 8px;
  font-size: 24px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007BFF;
}